@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Firs Neue";
  src: local("TTFirsNeue-Regular"), url("../fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("../fonts/TTFirsNeue-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Firs Neue";
  src: local("TTFirsNeue-Medium"), url("../fonts/TTFirsNeue-Medium.woff2") format("woff2"), url("../fonts/TTFirsNeue-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTFirsNeue";
  src: local("TTFirsNeue-Bold"), url("../fonts/TTFirsNeue-Bold.woff2") format("woff2"), url("../fonts/TTFirsNeue-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: sans-serif;
  background: #FFFFFF;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  max-width: 1390px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}
@media (max-width: 1919px) {
  .container {
    padding: 0 31px;
  }
}
@media (max-width: 1023px) {
  .container {
    padding: 0 27px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 21px;
  }
}

.type {
  position: absolute;
  display: inline-block;
  padding: 7px 14px;
  background-color: #202020;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .type {
    padding: 4px 7px;
    font-size: 12px;
    line-height: 14px;
  }
}

.btn {
  padding: 15px 22px;
  background-color: #FF6E30;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .btn {
    padding: 11px 15px;
  }
}

.stop-scroll {
  overflow: hidden;
}

.tel {
  display: flex;
  align-items: center;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF6E30;
}
@media (max-width: 767px) {
  .tel {
    font-size: 14px;
    line-height: 18px;
  }
}

.logo {
  width: 191px;
  height: 30.7px;
}
@media (max-width: 1919px) {
  .logo {
    width: 166px;
    height: 26.8px;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 111.5px;
    height: 18px;
  }
}

.header {
  padding: 24px 0;
  background-color: #202020;
}
@media (max-width: 1919px) {
  .header {
    padding: 24px 0 27px;
  }
}
@media (max-width: 1023px) {
  .header {
    padding: 24px 0 73px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 26px 0 65px;
  }
}
.header__container {
  position: relative;
  grid-template-columns: 3fr 7fr 2fr;
}
@media (max-width: 1023px) {
  .header__container {
    grid-template-columns: 1fr 1fr;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -65px;
    padding: 14px 21px 9px;
    text-align: left;
    color: #FFFFFF;
    background-color: #4A4A4A;
  }
}
.header__search {
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.header__nav div {
  height: 100%;
}
@media (max-width: 1023px) {
  .header__nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -72px;
    padding: 12px 27px;
    background-color: #4A4A4A;
  }
}
@media (max-width: 767px) {
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 44px;
    padding: 10px 21px;
    height: 100vh;
    background-color: #202020;
    z-index: 1000;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .header__nav--active {
    visibility: visible;
    transform: none;
  }
  .header__nav--active .nav__tel {
    display: block;
  }
}

.nav__list {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    height: initial;
  }
}
@media (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.nav__link {
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.nav__exit {
  display: none;
}
@media (max-width: 767px) {
  .nav__exit {
    display: block;
    text-align: left;
    margin-bottom: 16px;
  }
}
.nav__tel {
  display: none;
}

.search__opening {
  display: none;
  position: absolute;
  padding: 5px 0 5px 15px;
  background-color: #202020;
}
.search__opening--active {
  display: flex;
}
.search__input {
  margin-right: 5px;
  padding-right: 70px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
  background-color: inherit;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #E9E9E9;
  transition: border-color 0.3s ease-in-out;
}
.search__input::-webkit-input-placeholder {
  color: #E9E9E9;
}
.search__input:-moz-placeholder {
  color: #E9E9E9;
}
.search__input::-moz-placeholder {
  color: #E9E9E9;
}
.search__input:-ms-input-placeholder {
  color: #E9E9E9;
}
.search__open svg {
  width: 25px;
  height: 25px;
}
@media (max-width: 767px) {
  .search__open svg {
    width: 20px;
    height: 20px;
  }
}
.search__exit svg {
  width: 23px;
  height: 23px;
}
@media (max-width: 767px) {
  .search__exit svg {
    width: 18px;
    height: 18px;
  }
}

.master-class {
  padding: 41px 0 68px;
}
@media (max-width: 1919px) {
  .master-class {
    padding: 35px 0 64px;
  }
}
@media (max-width: 767px) {
  .master-class {
    padding: 30px 0 51px;
  }
}
.master-class__container {
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  font-size: 0;
}
@media (max-width: 767px) {
  .master-class__container {
    grid-template-columns: 1fr;
    gap: 34px;
  }
}
.master-class__intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  padding: 60px;
  background-image: url("../img/master-class-bg_1920.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1919px) {
  .master-class__intro {
    padding: 35px 30px;
    background-image: url("../img/master-class-bg_1024.webp");
  }
}
@media (max-width: 1023px) {
  .master-class__intro {
    background-image: url("../img/master-class-bg_768.webp");
  }
}
@media (max-width: 767px) {
  .master-class__intro {
    padding: 29px 30px;
    min-height: 422px;
    background-image: url("../img/master-class-bg_320.webp");
  }
}

.intro__type {
  top: 15px;
  right: 15px;
}
@media (max-width: 767px) {
  .intro__type {
    top: 6px;
    right: 5px;
  }
}
.intro__descr {
  margin-bottom: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
@media (max-width: 1023px) {
  .intro__descr {
    margin-bottom: 13px;
  }
}
@media (max-width: 767px) {
  .intro__descr {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 16px;
  }
}
.intro__title {
  margin-bottom: 19px;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 104%;
  color: #FFFFFF;
}
@media (max-width: 1023px) {
  .intro__title {
    margin-bottom: 23px;
    font-size: 34px;
    line-height: 90%;
  }
}
@media (max-width: 767px) {
  .intro__title {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 110%;
  }
}

.works__title {
  margin-bottom: 19px;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 104%;
  color: #202020;
}
@media (max-width: 1023px) {
  .works__title {
    margin-bottom: 11px;
  }
}
@media (max-width: 767px) {
  .works__title {
    font-size: 18px;
  }
}
.works__list {
  grid-template-areas: "work1 work1" "work2 work3";
  gap: 30px;
}
@media (max-width: 1023px) {
  .works__list {
    row-gap: 25px;
  }
}

.list-works__item:nth-child(1) {
  grid-area: work1;
}
.list-works__item:nth-child(2) {
  grid-area: work2;
}
.list-works__item:nth-child(3) {
  grid-area: work3;
}

.about-us {
  padding: 30px 0 70px;
  background-color: #202020;
}
@media (max-width: 1919px) {
  .about-us {
    padding: 30px 0 82px;
  }
}
@media (max-width: 1023px) {
  .about-us {
    padding: 30px 0 62px;
  }
}
@media (max-width: 767px) {
  .about-us {
    padding: 30px 0 59px;
  }
}
.about-us__wrapper {
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (max-width: 767px) {
  .about-us__wrapper {
    grid-template-columns: 1fr;
    gap: 22px;
  }
}
.about-us__title {
  margin-bottom: 5px;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .about-us__title {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 23px;
  }
}
.about-us__descr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #CACACA;
}
@media (max-width: 767px) {
  .about-us__descr {
    font-size: 14px;
    line-height: 25px;
  }
}
.about-us__photo img {
  margin-bottom: 17px;
  max-width: 630px;
  min-height: 255px;
}
@media (max-width: 767px) {
  .about-us__photo img {
    margin-bottom: 22px;
  }
}
.about-us__approval {
  display: block;
  margin-bottom: 16px;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 92%;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .about-us__approval {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 22px;
  }
}
.about-us__form {
  position: relative;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1919px) {
  .about-us__form {
    flex-direction: column;
    align-items: flex-start;
  }
}
.about-us__form input {
  padding: 15.5px 23px;
  margin-right: 30px;
  width: 100%;
  border: none;
  background-color: #4A4A4A;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CACACA;
}
@media (max-width: 1919px) {
  .about-us__form input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 73%;
  }
}
@media (max-width: 767px) {
  .about-us__form input {
    padding: 10.5px 23px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .about-us__btn {
    padding: 11px 17px;
  }
}

.projects {
  padding: 68px 0 38px;
}
@media (max-width: 767px) {
  .projects {
    padding: 50px 0 34px;
  }
}
.projects__title {
  margin-bottom: 12px;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #202020;
}
@media (max-width: 767px) {
  .projects__title {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 23px;
  }
}
.projects__list {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "project1 project1 project2 project2 project3 project3 project4 project4 project4 project4 project4 project4" "project5 project5 project5 project5 project5 project5 project6 project6 project6 project7 project7 project7";
  gap: 30px;
  font-size: 0;
}
@media (max-width: 1919px) {
  .projects__list {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 0.317fr repeat(2, 0.3415fr);
    grid-template-areas: "project1 project1 project2 project2 project3 project3 project3 project3" "project4 project4 project4 project4 project4 project6 project6 project6" "project7 project7 project7 project5 project5 project5 project5 project5";
  }
}
@media (max-width: 1023px) {
  .projects__list {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "project1 project1 project2 project2 project3 project3" "project4 project4 project4 project4 project4 project4" "project6 project6 project6 project7 project7 project7" "project5 project5 project5 project5 project5 project5";
  }
}
@media (max-width: 767px) {
  .projects__list {
    grid-template-columns: 1fr;
    grid-template-rows: initial;
    grid-template-areas: "project1" "project2" "project3" "project4" "project6" "project7" "project5";
  }
}

.list-projects__article {
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1919px) {
  .list-projects__article {
    min-height: 285px;
  }
}
@media (max-width: 767px) {
  .list-projects__article {
    min-height: 278px;
  }
}
.list-projects__item:nth-child(1) {
  grid-area: project1;
}
.list-projects__item:nth-child(2) {
  grid-area: project2;
}
.list-projects__item:nth-child(3) {
  grid-area: project3;
}
.list-projects__item:nth-child(4) {
  grid-area: project4;
}
.list-projects__item:nth-child(5) {
  grid-area: project5;
}
.list-projects__item:nth-child(6) {
  grid-area: project6;
}
.list-projects__item:nth-child(7) {
  grid-area: project7;
}

.project {
  position: relative;
  height: 100%;
}
.project__type {
  top: 7px;
  right: 7px;
  padding: 6px 14px;
}
@media (max-width: 767px) {
  .project__type {
    top: 5px;
    right: 5px;
    padding: 4px 14px;
  }
}
.project__img img {
  margin-bottom: 20px;
}
.project__descr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: #202020;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 1919px) {
  .project__descr {
    -webkit-line-clamp: 2;
  }
}
@media (max-width: 1023px) {
  .project__descr {
    -webkit-line-clamp: 3;
  }
}
@media (max-width: 767px) {
  .project__descr {
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
  }
}
.project__date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #999999;
}
.special-project .project__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 23px 30px 34px;
}
@media (max-width: 1919px) {
  .special-project .project__data {
    padding: 30px 30px 34px;
  }
}
@media (max-width: 767px) {
  .special-project .project__data {
    justify-content: flex-end;
    padding: 23px 30px 37px;
  }
}
.special-project .project__title {
  margin-bottom: 5px;
  width: 40%;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .special-project .project__title {
    margin-bottom: 9px;
  }
}
.special-project .project__descr {
  margin-bottom: auto;
  width: 51.5%;
  color: #FFFFFF;
  -webkit-line-clamp: initial;
  display: initial;
  -webkit-box-orient: initial;
  overflow: initial;
}
@media (max-width: 767px) {
  .special-project .project__descr {
    margin-bottom: 17px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
}
.special-project .project__btn {
  padding: 12px 19px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #FF6E30;
}
@media (max-width: 767px) {
  .special-project .project__btn {
    padding: 7px 13px;
  }
}
.special-project .project__img img {
  height: 100%;
  margin-bottom: 0;
}
.special-project .project__date {
  margin-bottom: 2px;
}

.contacts {
  padding: 22px 0 77px;
}
@media (max-width: 1919px) {
  .contacts {
    padding: 27px 0 65px;
  }
}
@media (max-width: 1023px) {
  .contacts {
    padding: 30px 0 67px;
  }
}
@media (max-width: 767px) {
  .contacts {
    padding: 12px 0 49px;
  }
}
.contacts__container {
  padding: 0 44px;
}
@media (max-width: 1919px) {
  .contacts__container {
    padding: 0 32px;
  }
}
@media (max-width: 1023px) {
  .contacts__container {
    padding: 0 27px;
  }
}
@media (max-width: 767px) {
  .contacts__container {
    padding: 0 20px;
  }
}
.contacts__title {
  margin-bottom: 22px;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #202020;
}
@media (max-width: 767px) {
  .contacts__title {
    font-size: 18px;
    line-height: 23px;
  }
}
.contacts__wrapper {
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  font-size: 0;
}
@media (max-width: 1919px) {
  .contacts__wrapper {
    grid-template-columns: 0.63441fr 0.36774fr;
  }
}
@media (max-width: 1023px) {
  .contacts__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 0.50829fr 0.49172fr;
  }
}
.contacts__location {
  position: relative;
  min-height: 460px;
}
@media (max-width: 767px) {
  .contacts__location {
    position: relative;
    left: -20px;
    width: calc(100% + 40px);
  }
}
.contacts__map {
  width: 100%;
  height: 100%;
  background-image: url("../img/map_1920.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1919px) {
  .contacts__map {
    background-image: url("../img/map_1024.webp");
  }
}
@media (max-width: 1023px) {
  .contacts__map {
    background-image: url("../img/map_768.webp");
  }
}
@media (max-width: 767px) {
  .contacts__map {
    background-image: url("../img/map_320.webp");
  }
}
.contacts__data {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 175px 60px 150px;
  width: 48%;
  background-color: rgba(32, 32, 32, 0.85);
}
@media (max-width: 1919px) {
  .contacts__data {
    left: 0;
    top: initial;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 29px 30px 26px;
  }
}
@media (max-width: 767px) {
  .contacts__data {
    bottom: -5px;
    padding: 26px 19px 14px;
  }
}
.contacts__form {
  position: relative;
}
@media (max-width: 1023px) {
  .contacts__form {
    width: 67%;
  }
}
@media (max-width: 767px) {
  .contacts__form {
    width: 100%;
  }
}

.data__title {
  margin-bottom: 5px;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 92%;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .data__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 122%;
  }
}
.data__address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #CACACA;
}
@media (max-width: 767px) {
  .data__address {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 129%;
  }
}

.contacts-form__title {
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 92%;
  color: #202020;
}
@media (max-width: 1023px) {
  .contacts-form__title {
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .contacts-form__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 122%;
  }
}
.contacts-form__descr {
  margin-bottom: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: #999999;
}
@media (max-width: 767px) {
  .contacts-form__descr {
    font-size: 14px;
    line-height: 129%;
  }
}
.contacts-form input {
  margin-bottom: 20px;
  padding: 15px 23px;
  width: 97%;
  border: none;
  background: #E9E9E9;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 767px) {
  .contacts-form input {
    padding: 12px 23px;
    font-size: 14px;
    line-height: 16px;
  }
}
.contacts-form textarea {
  margin-bottom: 20px;
  padding: 15px 23px;
  width: 97%;
  resize: none;
  min-height: 150px;
  border: none;
  background: #E9E9E9;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 767px) {
  .contacts-form textarea {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}

.footer {
  padding: 25px 0 15px;
  background-color: #202020;
}
@media (max-width: 767px) {
  .footer {
    padding: 31px 0 15px;
  }
}
.footer__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 1919px) {
  .footer__container {
    grid-template-columns: repeat(2, 3fr) 2fr;
    gap: 0;
  }
}
@media (max-width: 1023px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 7px;
}
@media (max-width: 1919px) {
  .footer__logo {
    margin-top: 5px;
  }
}
.footer__company {
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #E9E9E9;
}
@media (max-width: 767px) {
  .footer__company {
    font-size: 10px;
    line-height: 13px;
  }
}
.footer__quote {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: #CACACA;
}
@media (max-width: 1023px) {
  .footer__quote {
    display: none;
  }
}
.footer__social {
  justify-self: end;
}
@media (max-width: 767px) {
  .footer__social {
    margin-bottom: 35px;
    justify-self: center;
    order: -1;
  }
}
.footer__wrapper {
  text-align: center;
}
.footer__social-text {
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: #CACACA;
}
.footer__link:not(:last-child) {
  display: inline-block;
  margin-right: 20px;
}
.footer__link path {
  fill: #CACACA;
  transition: fill 0.3s ease-in-out;
}

.btn:focus {
  outline-offset: -3px;
  outline: 3px solid #CE4307;
}
.btn:hover {
  background-color: #BC572B;
}
.btn:active {
  background-color: #CE4307;
}

.special-project .project__btn:focus {
  outline-offset: -3px;
  outline: 3px solid #FF6E30;
  background-color: #BC572B;
}
.special-project .project__btn:hover {
  background-color: #FF6E30;
}
.special-project .project__btn:active {
  background-color: #CE4307;
}

.nav__link:focus {
  outline: none;
  background-color: #BC572B;
  box-shadow: -5px 0 0 #BC572B, 5px 0 0 #BC572B;
}
.nav__link:hover {
  color: #FF6E30;
}
.nav__link:active {
  background-color: initial;
  box-shadow: none;
  color: #CE4307;
}

.search__input:focus {
  outline: none;
  border-color: #FF6E30;
}
.search__input:hover {
  border-color: #FF6E30;
}
.search__input:active {
  border-color: #CE4307;
}

.about-us__form input:focus {
  outline-offset: -1px;
  outline: 1px solid #FF6E30;
}
.about-us__form input:hover::-webkit-input-placeholder {
  color: #FF6E30;
}
.about-us__form input:hover:-moz-placeholder {
  color: #FF6E30;
}
.about-us__form input:hover::-moz-placeholder {
  color: #FF6E30;
}
.about-us__form input:hover:-ms-input-placeholder {
  color: #FF6E30;
}
.about-us__form input.just-validate-error-field {
  outline-offset: -1px;
  outline: 1px solid #FF3030;
}

.about-us .just-validate-error-label {
  position: absolute;
  left: 23px;
  top: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #FF3030 !important;
}

.contacts-form input:focus,
.contacts-form textarea:focus {
  outline-offset: -1px;
  outline: 1px solid #FF6E30;
}
.contacts-form input:hover::-webkit-input-placeholder,
.contacts-form textarea:hover::-webkit-input-placeholder {
  color: #FF6E30;
}
.contacts-form input:hover:-moz-placeholder,
.contacts-form textarea:hover:-moz-placeholder {
  color: #FF6E30;
}
.contacts-form input:hover::-moz-placeholder,
.contacts-form textarea:hover::-moz-placeholder {
  color: #FF6E30;
}
.contacts-form input:hover:-ms-input-placeholder,
.contacts-form textarea:hover:-ms-input-placeholder {
  color: #FF6E30;
}
.contacts-form input.just-validate-error-field,
.contacts-form textarea.just-validate-error-field {
  outline-offset: -1px;
  outline: 1px solid #FF3030;
}

.contacts__form .just-validate-error-label {
  position: absolute;
  left: 23px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #FF3030 !important;
}
.contacts__form .just-validate-error-label:nth-last-child(3) {
  top: 106px;
}
.contacts__form .just-validate-error-label:nth-last-child(2) {
  top: 174px;
}
.contacts__form .just-validate-error-label:nth-last-child(1) {
  top: 243px;
}

.footer__link:focus {
  outline: none;
}
.footer__link:focus path {
  fill: #BC572B;
}
.footer__link:hover path {
  fill: #FF6E30;
}
.footer__link:active path {
  fill: #CE4307;
}