html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 100%;
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: sans-serif;
    background: $color-white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}