$color-orange: #FF6E30;
$color-orange-dark: #BC572B;
$color-vinous: #CE4307;
$color-light-pink: #F06666;
$color-crimson: #FF3030;
$color-beige: #FFD4C1;
$color-white: #FFFFFF;
$color-very-light-grey: #E9E9E9;
$color-light-grey: #CACACA;
$color-grey: #999999;
$color-grey-dark: #4A4A4A;
$color-black: #202020;
$color-translucent: rgba(0, 0, 0, 0.5);
$color-transparent: rgba(0, 0, 0, 0);